Repository bachya/ecowitt2mqtt, pull requests merged in 2020-11, with the labels that each got.

#17 More types - Fixes Soil Moisture Sensors
  ecowitt2mqtt/const.py
  ecowitt2mqtt/hass.py
Labels: enhancement

#16 Add more data types
  .pre-commit-config.yaml
  ecowitt2mqtt/const.py
  ecowitt2mqtt/hass.py
Labels: enhancement

#20 More gracefully handle missing data keys
  docker-compose.dist.yml
  ecowitt2mqtt/data.py
  ecowitt2mqtt/routes.py
Labels: bug

#21 Fix missing data
  docker-compose.dist.yml
  ecowitt2mqtt/data.py
Labels: bug

#22 Don't re-add non-calculated values
  ecowitt2mqtt/data.py
Labels: maintenance

#23 Retain meteocalc objects under the hood
  docker-compose.sample.yml
  ecowitt2mqtt/data.py
Labels: maintenance
