Repository bachya/ecowitt2mqtt, pull requests merged in 2021-08, with the labels that each got.

#62 Simplify conversion/calculation architecture
  docker-compose.dev.yml
  ecowitt2mqtt/data.py
  ecowitt2mqtt/helpers/__init__.py
  ecowitt2mqtt/helpers/converter/__init__.py
  ecowitt2mqtt/helpers/converter/battery.py
  ecowitt2mqtt/helpers/converter/meteo.py
  ecowitt2mqtt/util/__init__.py
  ecowitt2mqtt/util/battery.py
  ecowitt2mqtt/util/meteo.py
Labels: maintenance

#63 Fix bug with calculated properties
  ecowitt2mqtt/data.py
Labels: bug

#64 Add calculated data points for illuminance (lux and perceived)
  ecowitt2mqtt/const.py
  ecowitt2mqtt/data.py
  ecowitt2mqtt/hass.py
  ecowitt2mqtt/util/meteo.py
  pylintrc
Labels: enhancement

#66 Fix bug in calculating perceived brightness at low levels
  ecowitt2mqtt/util/meteo.py
Labels: bug

#68 Move unique ID to device module
  ecowitt2mqtt/data.py
  ecowitt2mqtt/device.py
  ecowitt2mqtt/hass.py
  ecowitt2mqtt/mqtt.py
Labels: maintenance

#69 Ensure all numeric values are rounded to one decimal point
  ecowitt2mqtt/data.py
Labels: maintenance

#71 Add Eurochron EFWS 2900 to the device database
  ecowitt2mqtt/device.py
Labels: enhancement

#72 Ensure all calculated data points are rounded to one decimal point
  ecowitt2mqtt/util/meteo.py
Labels: bug

#73 Clean up device references
  ecowitt2mqtt/hass.py
  ecowitt2mqtt/mqtt.py
Labels: maintenance

#74 Rework data point calculator function lookup
  ecowitt2mqtt/data.py
Labels: maintenance

#75 Update README.md
  README.md
Labels: documentation

#78 Modify logic for detecting device model
  ecowitt2mqtt/device.py
Labels: bug

#79 Add ability to preserve raw (i.e., non-translated) data
  README.md
  docker-compose.dev.yml
  ecowitt2mqtt/data.py
  ecowitt2mqtt/main.py
  ecowitt2mqtt/mqtt.py
  run.sh
Labels: enhancement

#80 Add support for specifying both input and output unit systems
  README.md
  docker-compose.dev.yml
  ecowitt2mqtt/data.py
  ecowitt2mqtt/hass.py
  ecowitt2mqtt/main.py
  ecowitt2mqtt/mqtt.py
  run.sh
Labels: enhancement, breaking change

#81 Handle non-binary battery values
  ecowitt2mqtt/data.py
  ecowitt2mqtt/util/battery.py
Labels: enhancement

#82 Fix bug where batteries don't have the correct units for MQTT Discovery
  ecowitt2mqtt/hass.py
Labels: bug

#83 Round barometric pressure values to 3 decimal places
  ecowitt2mqtt/data.py
  ecowitt2mqtt/util/meteo.py
Labels: bug

#84 Add Ecowitt GW1100 series to the device registry
  ecowitt2mqtt/device.py
Labels: enhancement

#85 Update README.md
  README.md
Labels: documentation

#90 Add missing device classes to MQTT Discovery
  ecowitt2mqtt/hass.py
Labels: bug
