Repository bachya/ecowitt2mqtt, pull requests merged in 2022-08, with the labels that each got.

#242 Add `--version` flag (and corresponding version log entry)
  README.md
  ecowitt2mqtt/cli.py
  ecowitt2mqtt/core.py
Labels: enhancement

#243 Add calculated sensor for Beaufort Scale
  README.md
  ecowitt2mqtt/const.py
  ecowitt2mqtt/data.py
  ecowitt2mqtt/helpers/calculator/__init__.py
  ecowitt2mqtt/helpers/calculator/meteo.py
  ecowitt2mqtt/helpers/publisher/hass.py
  tests/publisher/test_hass_discovery.py
  tests/publisher/test_topic_publisher.py
  tests/test_data.py
Labels: enhancement

#244 Add disclaimer and sources to docs
  README.md
Labels: documentation

#245 Add extra state attributes to safe exposure time sensors
  ecowitt2mqtt/helpers/calculator/meteo.py
  tests/test_data.py
Labels: enhancement

#246 Ensure renovate labels issues with `dependencies`
  renovate.json
Labels: maintenance

#247 Fix bug with certain HASS MQTT Discovery payloads failing to publish
  ecowitt2mqtt/helpers/calculator/__init__.py
  ecowitt2mqtt/helpers/publisher/hass.py
  tests/publisher/test_hass_discovery.py
  tests/test_data.py
Labels: bug

#248 Fix docs misspelling
  README.md
Labels: documentation

#250 Make Uvicorn only output `ERROR`-level logs when not using verbose mode
  ecowitt2mqtt/runtime.py
Labels: maintenance

#251 Log warning upon seeing a suspicious temperature value
  ecowitt2mqtt/helpers/calculator/meteo.py
  tests/test_data.py
Labels: maintenance

#252 Use `python:3.10-slim-bullseye` as a Docker image base
  Dockerfile
Labels: maintenance

#253 Mark `runtime` as a diagnostics entity in Home Assistant
  ecowitt2mqtt/helpers/publisher/hass.py
  tests/publisher/test_hass_discovery.py
Labels: bug

#254 Explicitly track `ws90_ver` value
  ecowitt2mqtt/const.py
  ecowitt2mqtt/data.py
  ecowitt2mqtt/helpers/publisher/hass.py
  tests/publisher/test_hass_discovery.py
  tests/publisher/test_topic_publisher.py
  tests/test_data.py
Labels: enhancement

#255 Don't log warning during data type conversion
  ecowitt2mqtt/data.py
  tests/publisher/test_topic_publisher.py
Labels: maintenance

#256 Fix bug with empty lightning strike time value
  ecowitt2mqtt/helpers/calculator/meteo.py
  ecowitt2mqtt/helpers/calculator/time.py
  ecowitt2mqtt/helpers/publisher/hass.py
  tests/fixtures/payload_gw2000a_1.json
  tests/publisher/test_hass_discovery.py
  tests/test_data.py
Labels: bug

#257 Replace `master` with `main` as the default branch
  README.md
  script/release
Labels: maintenance

#258 Small code cleanup with runtime tasks
  ecowitt2mqtt/runtime.py
Labels: maintenance

#259 Wait for all tasks to finish on shutdown
  ecowitt2mqtt/runtime.py
Labels: bug

#261 Fix unhandled exception when calculating Beaufort Scale
  ecowitt2mqtt/helpers/calculator/meteo.py
Labels: bug

#262 Fix unhandled exception when calculating Simmer Zone
  ecowitt2mqtt/helpers/calculator/meteo.py
Labels: bug

#267 Replace deprecated environment variables in the Docker instructions
  README.md
Labels: documentation

#266 Remove `typer` as a dependency and streamline accordingly
  ecowitt2mqtt/__init__.py
  ecowitt2mqtt/__main__.py
  ecowitt2mqtt/cli.py
  ecowitt2mqtt/config.py
  ecowitt2mqtt/const.py
  ecowitt2mqtt/core.py
  ecowitt2mqtt/helpers/config_validation.py
  ecowitt2mqtt/helpers/logging.py
  ecowitt2mqtt/runtime.py
  pyproject.toml
  tests/conftest.py
  tests/publisher/test_hass_discovery.py
  tests/publisher/test_topic_publisher.py
  tests/test_cli.py
  tests/test_config.py
  tests/test_core.py
  tests/test_main.py
  tests/test_runtime.py
Labels: maintenance

#268 Remove no-longer-used `pylint` option
  pyproject.toml
Labels: maintenance

#269 Add debug message when safe exposure time can't be calculated
  ecowitt2mqtt/helpers/calculator/meteo.py
Labels: maintenance

#270 Give unit system-aware error messages with unavailable values
  ecowitt2mqtt/helpers/calculator/meteo.py
Labels: maintenance

#271 Make `mqtt_username` and `mqtt_password` inclusive in schema
  ecowitt2mqtt/config.py
Labels: maintenance

#264 Expand config file to handle multiple gateways
  README.md
  ecowitt2mqtt/config.py
  ecowitt2mqtt/const.py
  ecowitt2mqtt/core.py
  ecowitt2mqtt/data.py
  ecowitt2mqtt/helpers/calculator/battery.py
  ecowitt2mqtt/helpers/calculator/leak.py
  ecowitt2mqtt/helpers/calculator/meteo.py
  ecowitt2mqtt/helpers/calculator/time.py
  ecowitt2mqtt/helpers/publisher/__init__.py
  ecowitt2mqtt/helpers/publisher/factory.py
  ecowitt2mqtt/helpers/publisher/hass.py
  ecowitt2mqtt/helpers/publisher/topic.py
  ecowitt2mqtt/runtime.py
  tests/conftest.py
  tests/publisher/test_hass_discovery.py
  tests/publisher/test_topic_publisher.py
  tests/test_config.py
  tests/test_core.py
  tests/test_data.py
  tests/test_runtime.py
Labels: enhancement

#272 Produce MQTT connection info in a better format for logging
  ecowitt2mqtt/config.py
  ecowitt2mqtt/runtime.py
Labels: maintenance

#274 Add config validator for unit systems
  ecowitt2mqtt/config.py
  ecowitt2mqtt/helpers/config_validation.py
Labels: maintenance

#275 Fix bug where runtime wouldn't shut down after MQTT error
  ecowitt2mqtt/runtime.py
Labels: bug

#276 Ensure that unhandled exceptions in MQTT loops stop the runtime
  ecowitt2mqtt/runtime.py
  tests/test_runtime.py
Labels: bug

#277 Reduce stale timeframe from 90 days to 21 days
  .github/stale.yml
Labels: maintenance
