Repository bachya/ecowitt2mqtt, pull requests merged in 2022-05, with the labels that each got.

#129 Add ability to configure prefix for Home Assistant entity IDs
  README.md
  docker-compose.dev.yml
  ecowitt2mqtt/hass.py
  ecowitt2mqtt/main.py
  run.sh
Labels: enhancement

#130 Fixed descriptions of the prefix parameters
  ecowitt2mqtt/main.py
Labels: bug

#133 Check for lightning strike timestamps that are just empty strings
  ecowitt2mqtt/data.py
Labels: bug

#136 Create initial directory structure
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  _old/__init__.py
  _old/const.py
  _old/data.py
  _old/device.py
  _old/hass.py
  _old/main.py
  _old/mqtt.py
  _old/py.typed
  _old/util/__init__.py
  _old/util/battery.py
  _old/util/distance.py
  _old/util/meteo.py
  _old/util/time.py
  noxfile.py
  pylintrc
  pyproject.toml
  tests/__init__.py
Labels: maintenance

#138 Add deprecation warning when legacy environment variable is used
  .coverage
  coverage.xml
  ecowitt2mqtt/config.py
  ecowitt2mqtt/const.py
  ecowitt2mqtt/main.py
  tests/test_config.py
Labels: enhancement

#139 Add ability to specify configuration options via a config file
  .coverage
  .flake8
  .gitignore
  .pre-commit-config.yaml
  coverage.xml
  ecowitt2mqtt/cli.py
  ecowitt2mqtt/config.py
  ecowitt2mqtt/const.py
  ecowitt2mqtt/core.py
  pyproject.toml
  tests/common.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_config.py
Labels: enhancement

#141 Create a new Docker image
  .pre-commit-config.yaml
  .whitesource
  Dockerfile
  docker-entrypoint.sh
  requirements.txt
  run.sh
Labels: maintenance

#142 Add a REST API server via FastAPI
  ecowitt2mqtt/cli.py
  ecowitt2mqtt/config.py
  ecowitt2mqtt/core.py
  ecowitt2mqtt/server.py
  pyproject.toml
  tests/common.py
  tests/conftest.py
  tests/fixtures/payload_gw1000b_pro.json
  tests/test_cli.py
  tests/test_config.py
  tests/test_server.py
Labels: enhancement
