Repository bachya/ecowitt2mqtt, pull requests merged in 2023-06, with the labels that each got.

#590 Add Ecowitt HP2553 to device database
  ecowitt2mqtt/helpers/device.py
Labels: enhancement

#573 Add Home Assistant entity description for `gainXX_piezo` data points
  ecowitt2mqtt/const.py
  ecowitt2mqtt/data.py
  ecowitt2mqtt/helpers/publisher/hass.py
  ecowitt2mqtt/util/__init__.py
  tests/data/test_data_processing.py
  tests/fixtures/payload_gw2000a_2.json
  tests/helpers/publisher/test_hass_discovery.py
Labels: enhancement

#591 Fix and simplify entity descriptions for piezo sensors
  ecowitt2mqtt/const.py
  ecowitt2mqtt/data.py
  ecowitt2mqtt/helpers/publisher/hass.py
  tests/data/test_data_processing.py
  tests/helpers/publisher/test_hass_discovery.py
Labels: bug

#592 Fix bug with parsing of default config with multiple gateways
  ecowitt2mqtt/config.py
  tests/test_config.py
Labels: bug

#594 Fix bug where custom entity ID prefixes wouldn't flow through to HASS
  ecowitt2mqtt/config.py
  ecowitt2mqtt/helpers/publisher/hass.py
  ecowitt2mqtt/runtime.py
  poetry.lock
  tests/helpers/publisher/test_hass_discovery.py
  tests/test_config.py
Labels: bug

#596 Pin `requests` to fix security issue
  poetry.lock
  pyproject.toml
Labels: dependencies

#606 Allow the specification of multiple publishers
  ecowitt2mqtt/config.py
  ecowitt2mqtt/helpers/publisher/factory.py
  ecowitt2mqtt/runtime.py
  tests/helpers/publisher/test_hass_discovery.py
  tests/helpers/publisher/test_topic_publisher.py
  tests/test_runtime.py
Labels: enhancement

#607 Restore correct attributes for piezo rain sensors
  ecowitt2mqtt/const.py
  ecowitt2mqtt/data.py
  ecowitt2mqtt/helpers/publisher/hass.py
  tests/data/test_data_processing.py
  tests/helpers/publisher/test_hass_discovery.py
Labels: bug

#614 Improved README/cli help.
  README.md
  ecowitt2mqtt/__main__.py
Labels: documentation

#618 Use right state class for ecowitt precipitation and lightning count
  ecowitt2mqtt/const.py
  ecowitt2mqtt/helpers/publisher/hass.py
  tests/helpers/publisher/test_hass_discovery.py
Labels: bug
