Repository bachya/ecowitt2mqtt, pull requests merged in 2024-01, with the labels that each got.

#834 Migrate from `rtx` to `mise`
  .mise.toml
  script/setup
Labels: maintenance

#840 Update README.md, Docker with ECOWITT2MQTT_MQTT_TOPIC
  README.md
Labels: documentation

#841 Fix CI badge in README
  README.md
Labels: documentation

#845 Add data detection for `heap` sensor
  ecowitt2mqtt/const.py
  ecowitt2mqtt/data.py
  ecowitt2mqtt/helpers/calculator/heap.py
  ecowitt2mqtt/helpers/publisher/mqtt/hass.py
  tests/data/test_data_processing.py
  tests/fixtures/payload_gw2000a_1.json
Labels: enhancement

#846 Add `StrEnum` backport from `backports.strenum`
  ecowitt2mqtt/backports/enum.py
  pyproject.toml
Labels: maintenance

#847 Replace `voluptuous` with `pydantic`
  ecowitt2mqtt/config.py
  ecowitt2mqtt/const.py
  ecowitt2mqtt/helpers/config_validation.py
  ecowitt2mqtt/helpers/typing.py
  ecowitt2mqtt/util/meteo.py
  poetry.lock
  pyproject.toml
  tests/test_config.py
  tests/test_core.py
Labels: maintenance

#848 Replace unit system constants with an Enum
  ecowitt2mqtt/__main__.py
  ecowitt2mqtt/config.py
  ecowitt2mqtt/const.py
  ecowitt2mqtt/helpers/calculator/__init__.py
  ecowitt2mqtt/helpers/calculator/wind.py
  ecowitt2mqtt/util/meteo.py
  tests/common.py
  tests/data/test_data_processing.py
  tests/data/test_units.py
  tests/test_config.py
Labels: maintenance

#849 Address upcoming deprecation of `datetime.datetime.utcnow()`
  ecowitt2mqtt/helpers/calculator/time.py
  ecowitt2mqtt/util/dt.py
  pyproject.toml
Labels: maintenance

#850 Stream output unit validation via custom validator
  ecowitt2mqtt/config.py
Labels: maintenance

#851 Migrate appropriate unit collections from constants to Enums
  ecowitt2mqtt/config.py
  ecowitt2mqtt/const.py
  ecowitt2mqtt/helpers/calculator/battery.py
  ecowitt2mqtt/helpers/calculator/heap.py
  ecowitt2mqtt/helpers/calculator/humidity.py
  ecowitt2mqtt/helpers/calculator/illuminance.py
  ecowitt2mqtt/helpers/calculator/lightning.py
  ecowitt2mqtt/helpers/calculator/pollution.py
  ecowitt2mqtt/helpers/calculator/precipitation.py
  ecowitt2mqtt/helpers/calculator/pressure.py
  ecowitt2mqtt/helpers/calculator/temperature.py
  ecowitt2mqtt/helpers/calculator/time.py
  ecowitt2mqtt/helpers/calculator/uv.py
  ecowitt2mqtt/helpers/calculator/wind.py
  ecowitt2mqtt/util/meteo.py
  ecowitt2mqtt/util/unit_conversion.py
  tests/data/test_battery.py
  tests/data/test_data_processing.py
  tests/data/test_units.py
  tests/test_config.py
Labels: maintenance

#852 Refactor duplicate config parsing logic
  ecowitt2mqtt/config.py
Labels: maintenance

#854 Properly type HTTPserver port
  ecowitt2mqtt/config.py
Labels: bug

#855 Make boolean config validator more efficient
  ecowitt2mqtt/config.py
Labels: maintenance

#858 Move diagnostics log level config into `ecowitt2mqtt.config`
  ecowitt2mqtt/__main__.py
  ecowitt2mqtt/config.py
Labels: maintenance

#859 Remove unnecessary variable
  ecowitt2mqtt/__main__.py
Labels: maintenance

#864 Fix regression with trailing slashes in `endpoint` URLs
  ecowitt2mqtt/helpers/server.py
Labels: bug

#863 Add config parameter for interepreting a boolean battery's `True` value
  README.md
  ecowitt2mqtt/__main__.py
  ecowitt2mqtt/config.py
  ecowitt2mqtt/const.py
  ecowitt2mqtt/helpers/calculator/battery.py
  tests/common.py
  tests/test_config.py
Labels: enhancement

#865 Fix config error when ports are passed as strings
  ecowitt2mqtt/config.py
  tests/test_config.py
Labels: bug
